/*
 * Device tree overlay for Adafruit Feather M4 Express CAN
 * NeoPixel (RGBW) configuration
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <zephyr/dt-bindings/led/led.h>
#include <dt-bindings/pinctrl/same51j-pinctrl.h>

/ {
    chosen {
        zephyr,console = &cdc_acm_uart0;
    };

    led_strip: ws2812 {
        compatible = "worldsemi,ws2812-gpio-power";

        /* NeoPixel data pin: PB02 */
        gpios = <&portb 2 0>;

        /* NeoPixel power enable pin: PB03 (set HIGH to power the NeoPixel) */
        power-gpios = <&portb 3 0>;

        chain-length = <1>;

        /* GRBW order for RGBW NeoPixels */
        color-mapping = <LED_COLOR_ID_GREEN
                         LED_COLOR_ID_RED
                         LED_COLOR_ID_BLUE
                         LED_COLOR_ID_WHITE>;
    };

    aliases {
        led-strip = &led_strip;
    };
};

&zephyr_udc0 {
    cdc_acm_uart0: cdc_acm_uart0 {
        compatible = "zephyr,cdc-acm-uart";
    };
};

/* Override PWM0 pinctrl to use LED pin PA23 (TCC0_WO3) */
&pinctrl {
    pwm0_default: pwm0_default {
        group1 {
            pinmux = <PA23G_TCC0_WO3>;
        };
    };
};

